.main-header-container {
    background-color: #fff;
    color: #1f1f1f;
    z-index: 2;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem 1rem;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.header-icon-container {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.header-navbar-icon {
    width: 1.2rem;
}

.header-search-icon {
    width: 1.2rem;
}

.ps-header-logo  {
    width: 2.6rem;
}

.header-sign-btn {
    color: white;
    background: rgb(116, 116, 254);
    font-size: 14px;
    padding: 4px 26px;
    border: none;
    border-radius: 10px;
}

.header-sign-btn:hover {
    background-color: 	#005499;
}

.header-sign-btn, .header-search-icon, .header-navbar-icon, .ps-header-logo { cursor: pointer; }

.header-navbar {
    position: absolute;
    left: 0;
    top: 3.9rem;
    width: 100%;
    margin-top: .6rem;
}

.header-navbar-toggle {
    display: none;
}

@media (min-width: 700px) {
    .main-header-container {
        font-size: .81rem;
        justify-content: center;
        padding: 1em 1.75rem;
        box-shadow: none;
        transform: 1s;
    }

    .main-header-container .ps-header-logo {order: 1;}
    .main-header-container .header-navbar {order: 2;}
    .main-header-container .header-sign-btn {order: 3;}
    .main-header-container .header-icon-container {order: 4;}

    .header-sign-btn {
        margin-right: 1rem;
    }

    .header-navbar {
        position: static;
        width: fit-content;
        margin-right: auto;
        margin-left: 1rem;
    }

    .header-search-icon {
        width: 1.5em;
    }
    
    .ps-header-logo  {
        width: 3.2em;
    }

    .header-navbar-toggle, .header-navbar {
        display: flex;
        gap: .8rem;
    }

    .header-navbar-icon {
        display: none;
    }
}