@import "../../fonts.css";

.nav-btn {
    font-size: inherit;
    color: inherit;
    font-family: sst;
    font-weight: 500;
    font-size: 1rem;
    background-color: transparent;
    width: 100%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-btn-background-blue {
    background-color: #EAF7FF;
}

.nav-btn:hover {
    color: #0170CC;
}

.nav-btn-icon {
    width: 1.6rem;
    margin-right: 1.5rem;
}

.nav-btn-arrow {
    width: .65rem;
    transform: rotate(-90deg);
    margin-left: auto;
}

@media (min-width: 700px) {
    .nav-btn {
        font-size: inherit;
        width: fit-content;
        padding: 0;
        margin-top: 0;
    }

    .nav-btn-background-blue {
        background-color: transparent;
    }

    .nav-btn-icon {
        display: none;
    }

    .nav-btn-title-opened {
        color: #0170CC;
    }
    
    .nav-btn-arrow {
        transform: rotate(0);
        transition: transform 0.15s;
        margin-top: .3rem;
        margin-left: .25rem;
    }

    .nav-btn-arrow-rotate {
        transform: rotate(180deg);
    }
}