@import "../../fonts.css";

.navdrop-container {
    color: #1f1f1f;
    z-index: 3;
    visibility: hidden;
    transform: translateX( calc(100%) );
    transition: .4s ease, box-shadow 0s;
    box-sizing: border-box;
    background-color: white;
    font-size: .85rem;
    font-family: sst;
    font-weight: 500;
    position: relative;
    width: calc(100% - 4.6rem);
    height: 800px;
    padding: 1rem;
    margin-left: auto;
    margin-top: .6rem;
}

.navdrop-dropdown {
    visibility: visible;
    transform: translateX(0);
    transition: 1.2s;
    box-shadow: -4px 10px 27px -2px #ccc;
}

.navdrop-close-btn, .navdrop-icon-el, .navdrop-dot-el { cursor: pointer; }

/* title section */

.navdrop-title-section {
    display: flex;
    align-items: center;
    margin-bottom: 1.75rem;
}

.navdrop-title {
    color: #616161;
}

.navdrop-close-btn {
    width: .9rem;
    margin-right: 1rem;
    cursor: pointer;
}

/* card section */

.navdrop-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(200, 200, 200)
}

/* dot section */

.navdrop-dot-el {
    margin-top: 1.5rem;
}

@media (min-width: 700px) {

    .navdrop-container {
        z-index: 1;
        opacity: 0;
        transform: translateY(-100%);
        width: 100%;
        height: 14rem;
        padding: 0;
        margin: 0;
    }

    .navdrop-dropdown {
        opacity: 1;
        transform: translateY(0);
        box-shadow: 0px 10px 5px 0px #ccc;
    }

    /* title section */

    .navdrop-title-section {
        display: none;
    }

    /* card section */

    .navdrop-card-section {
        box-sizing: border-box;
        justify-content: center;
        height: calc(100% - 3.75rem);
        padding: 1rem;
        margin: 0;
        gap: 1rem;
    }

    /* dot section */

    .navdrop-dot-section {
        box-sizing: border-box;
        height: 3.75rem;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .navdrop-dot-el {
        font-size: .8rem;
        text-align: center;
        margin: 0;
        display: flex;
        align-items: center;
        gap: .4rem;
    }

    .navdrop-dot-el:hover {
        color: #0170CC;
    }

    .navdrop-dot-dot {
        background-color: #0170CC;
        width: .45rem;
        height: .45rem;
        border-radius: 50%;
    }
}

