.essencial_text {
  width: 30%;
}

.essencial_text h1 {
  font-size: 1.8em;
  text-align: justify;
  line-height: 6vh;
}

.essencial_text p {
  font-size: 2.5vh;
  text-align: justify;
  color: #777;
  margin-top: 4vh;
  line-height: 3.5vh;
}

.essencial_text button {
  background: rgb(87, 87, 255);
  border: none;
  color: #fff;
  font-size: 2vh;
  padding: 1.5vh 3vh;
  border-radius: 25px;
  margin-top: 4vh;
  cursor: pointer;
  transition: all .5s ease;
  box-shadow: 0 0 15px rgb(87, 87, 255);
}

.essencial_text button:hover {
  transform: scale(1.06);
  box-shadow: 0 0 25px rgb(87, 87, 255);
}

.EssencialIMG {
  width: 50%;
  border-radius: 30px;
  transition: all .5s ease;
  cursor: pointer;
}

.EssencialIMG:hover {
  transform: scale(1.07);
}

.essencial {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
  padding: 8vh 0;
}


@media(max-width:950px) {
  .essencial {
    flex-direction: column-reverse;
  }

  .EssencialIMG {
    width: 100%;
  }

  .essencial_text {
    width: 100%;
  }

  .essencial_text h1 {
    text-align: center;
  }
}